@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import "tailwindcss";

@config "../tailwind.config.cjs"; /* Points to your config if you still use it */

@variant dark (&:where(.dark, .dark *));

*{
    font-family: 'Josefin Sans', sans-serif;
}