@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";

@config "../tailwind.config.cjs"; /* Points to your config if you still use it */

@variant dark (&:where(.dark, .dark *));

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}
